<h1 class="is-size-3">Product</h1>

<div class="section">
<div class="content">
    <table>
        <tr>
            <th>Name</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{product.description}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{product.price}}</td>
        </tr>
        <tr>
            <th></th>
            <td>
                <form method="POST" action="/products/{{ id }}?_method=DELETE">
                    <button class="button is-danger"type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</div>
